body { background: #4321af; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 34px; display: flex; }
.block-config-0 { color: #dc04db; font-size: 16px; margin-bottom: 5px; }
.block-cluster-1 { color: #535fd7; font-size: 14px; margin-bottom: 5px; }
.block-helper-2 { color: #21ee15; font-size: 19px; margin-bottom: 5px; }
.block-user-3 { color: #9f6537; font-size: 12px; margin-bottom: 5px; }
.block-session-4 { color: #91d4a7; font-size: 15px; margin-bottom: 5px; }
.block-shipping-5 { color: #3035ee; font-size: 14px; margin-bottom: 5px; }
.block-product-6 { color: #316578; font-size: 19px; margin-bottom: 5px; }